@use "variables";

// Power function
@function power($number, $exponent) {
  $value: 1;
  @if($exponent < 0) {
    @for $i from $exponent through -1 {
      $value: $value / $number;
    }
  } @else {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }
  @return $value;
}

// Function returns a step in a modular scale
@function mod($count, $config: variables.$config) {
  $result: 0;
  @if($count == 0) {
    $result: map-get($config, base)
  } @else {
    $result: map-get($config, base) * power(map-get($config, ratio), $count);
  }
  @if(map-get($config, round)) {
    @return floor($result);
  } @else {
    @return $result;
  }
}