@use "scales";
@use "power";
@use "variables";

@function mod($count, $round: variables.$round) {
  
  $result: 0;

  @if($count == 0) { 
    $result: variables.$base 
  } @else {
    @if type-of(variables.$ratio) == string { 
      $result: variables.$base * power.power(map-get(scales.$scales, variables.$ratio), $count) 
    }
    @else if type-of(variables.$ratio) == number { 
      $result: variables.$base * power.power(variables.$ratio, $count) 
    }
  }

  @if(variables.$round) {
    @return floor($result) 
  } @else { 
    @return $result 
  }

}