@use "scales";
@use "power";
@use "variables";

// Calculates a step in a modular scale
@function mod($count, $round: variables.$round) {
  
  $result: 0;

  // if 0
  @if($count == 0) { 
    $result: variables.$base 
  }
  
  // Calculate modular scale value
  @else {
    @if type-of(variables.$ratio) == string { 
      $result: variables.$base * power.power(map-get(scales.$scales, variables.$ratio), $count) 
    }
    @else if type-of(variables.$ratio) == number { 
      $result: variables.$base * power(variables.$ratio, $count) 
    }
    @else { 
      @error "Please use a value from the $scales map or a number" 
    }
  }

  // if round...
  @if(variables.$round) { 
    @return floor($result) 
  }
  @else { 
    @return $result 
  }

}