// Variables
$base: 1px !default; // desired base size
$ratio: goldenRatio !default; // string or number
$round: false !default; // whether to round the calculated number or leave as floating point number